{
	"env": {
		"node": true,
		"es6": true,
		"mocha": true
	},
	"extends": ["airbnb-base", "prettier", "plugin:prettier/recommended"],
	"plugins": ["prettier"],
	"rules": {
		"strict": [2, "global"],
		"no-param-reassign": 0,
		"no-else-return": 0,
		"linebreak-style": 0,
		"prettier/prettier": [
			"error",
			{
				"singleQuote": true,
				"trailingComma": "es5",
				"bracketSpacing": false
			}
    ],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
	}
}
